@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --ph-background: oklch(1 0 0);
  --ph-foreground: oklch(0.145 0 0);
  --ph-card: oklch(1 0 0);
  --ph-card-foreground: oklch(0.145 0 0);
  --ph-popover: oklch(1 0 0);
  --ph-popover-foreground: oklch(0.145 0 0);
  --ph-primary: oklch(0.205 0 0);
  --ph-primary-foreground: oklch(0.985 0 0);
  --ph-secondary: oklch(0.97 0 0);
  --ph-secondary-foreground: oklch(0.205 0 0);
  --ph-muted: oklch(0.97 0 0);
  --ph-muted-foreground: oklch(0.556 0 0);
  --ph-accent: oklch(0.97 0 0);
  --ph-accent-foreground: oklch(0.205 0 0);
  --ph-destructive: oklch(0.577 0.245 27.325);
  --ph-destructive-foreground: oklch(0.97 0.01 17);
  --ph-warning: oklch(0.96 0.06 96);
  --ph-warning-foreground: oklch(0.67 0.16 58);
  --ph-border: oklch(0.922 0 0);
  --ph-input: oklch(0.922 0 0);
  --ph-ring: oklch(0.708 0 0);
  --ph-chart-1: oklch(0.646 0.222 41.116);
  --ph-chart-2: oklch(0.6 0.118 184.704);
  --ph-chart-3: oklch(0.398 0.07 227.392);
  --ph-chart-4: oklch(0.828 0.189 84.429);
  --ph-chart-5: oklch(0.769 0.188 70.08);
  --ph-radius: 0.625rem;
  --ph-sidebar: oklch(0.985 0 0);
  --ph-sidebar-foreground: oklch(0.145 0 0);
  --ph-sidebar-primary: oklch(0.205 0 0);
  --ph-sidebar-primary-foreground: oklch(0.985 0 0);
  --ph-sidebar-accent: oklch(0.97 0 0);
  --ph-sidebar-accent-foreground: oklch(0.205 0 0);
  --ph-sidebar-border: oklch(0.922 0 0);
  --ph-sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --ph-background: oklch(0.145 0 0);
  --ph-foreground: oklch(0.985 0 0);
  --ph-card: oklch(0.145 0 0);
  --ph-card-foreground: oklch(0.985 0 0);
  --ph-popover: oklch(0.145 0 0);
  --ph-popover-foreground: oklch(0.985 0 0);
  --ph-primary: oklch(0.985 0 0);
  --ph-primary-foreground: oklch(0.205 0 0);
  --ph-secondary: oklch(0.269 0 0);
  --ph-secondary-foreground: oklch(0.985 0 0);
  --ph-muted: oklch(0.269 0 0);
  --ph-muted-foreground: oklch(0.708 0 0);
  --ph-accent: oklch(0.269 0 0);
  --ph-accent-foreground: oklch(0.97 0.01 17);
  --ph-destructive: oklch(0.94 0.03 18);
  --ph-destructive-foreground: oklch(0.56 0.15 49);
  --ph-warning: oklch(0.96 0.06 96);
  --ph-warning-foreground: oklch(0.56 0.15 49);
  --ph-border: oklch(0.269 0 0);
  --ph-input: oklch(0.269 0 0);
  --ph-ring: oklch(0.439 0 0);
  --ph-chart-1: oklch(0.488 0.243 264.376);
  --ph-chart-2: oklch(0.696 0.17 162.48);
  --ph-chart-3: oklch(0.769 0.188 70.08);
  --ph-chart-4: oklch(0.627 0.265 303.9);
  --ph-chart-5: oklch(0.645 0.246 16.439);
  --ph-sidebar: oklch(0.205 0 0);
  --ph-sidebar-foreground: oklch(0.985 0 0);
  --ph-sidebar-primary: oklch(0.488 0.243 264.376);
  --ph-sidebar-primary-foreground: oklch(0.985 0 0);
  --ph-sidebar-accent: oklch(0.269 0 0);
  --ph-sidebar-accent-foreground: oklch(0.985 0 0);
  --ph-sidebar-border: oklch(0.269 0 0);
  --ph-sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--ph-background);
  --color-foreground: var(--ph-foreground);
  --color-card: var(--ph-card);
  --color-card-foreground: var(--ph-card-foreground);
  --color-popover: var(--ph-popover);
  --color-popover-foreground: var(--ph-popover-foreground);
  --color-primary: var(--ph-primary);
  --color-primary-foreground: var(--ph-primary-foreground);
  --color-secondary: var(--ph-secondary);
  --color-secondary-foreground: var(--ph-secondary-foreground);
  --color-muted: var(--ph-muted);
  --color-muted-foreground: var(--ph-muted-foreground);
  --color-accent: var(--ph-accent);
  --color-accent-foreground: var(--ph-accent-foreground);
  --color-destructive: var(--ph-destructive);
  --color-destructive-foreground: var(--ph-destructive-foreground);
  --color-warning: var(--ph-warning);
  --color-warning-foreground: var(--ph-warning-foreground);
  --color-border: var(--ph-border);
  --color-input: var(--ph-input);
  --color-ring: var(--ph-ring);
  --color-chart-1: var(--ph-chart-1);
  --color-chart-2: var(--ph-chart-2);
  --color-chart-3: var(--ph-chart-3);
  --color-chart-4: var(--ph-chart-4);
  --color-chart-5: var(--ph-chart-5);
  --radius-sm: calc(var(--ph-radius) - 4px);
  --radius-md: calc(var(--ph-radius) - 2px);
  --radius-lg: var(--ph-radius);
  --radius-xl: calc(var(--ph-radius) + 4px);
  --color-sidebar: var(--ph-sidebar);
  --color-sidebar-foreground: var(--ph-sidebar-foreground);
  --color-sidebar-primary: var(--ph-sidebar-primary);
  --color-sidebar-primary-foreground: var(--ph-sidebar-primary-foreground);
  --color-sidebar-accent: var(--ph-sidebar-accent);
  --color-sidebar-accent-foreground: var(--ph-sidebar-accent-foreground);
  --color-sidebar-border: var(--ph-sidebar-border);
  --color-sidebar-ring: var(--ph-sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --animate-fade-in: fade-in 0.2s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(2px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@theme {
  --animate-shimmer: shimmer 2s ease-in-out infinite;

  @keyframes shimmer {

    0%,
    100% {
      background-position: "0% 50%";
    }

    50% {
      background-position: "100% 50%";
    }
  }
}

@theme {
  --animate-slide-in-out: slide-in-out 3s ease-in-out infinite;

  @keyframes slide-in-out {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    15% {
      transform: translateY(0);
      opacity: 1;
    }

    85% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
